@model IEnumerable<SalesOrder>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid primary-content">
    <!-- PRIMARY CONTENT HEADING -->
    <div class="primary-content-heading clearfix">
        <h2>DASHBOARD</h2>
        <ul class="breadcrumb pull-left">
            <li><i class="icon ion-home"></i><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Dashboard v1</li>
        </ul>
        <div class="sticky-content pull-right">
            <div class="btn-group btn-dropdown">
                <button type="button" class="btn btn-default btn-sm btn-favorites" data-toggle="dropdown"><i class="icon ion-android-star"></i> Favorites</button>
                <ul class="dropdown-menu dropdown-menu-right list-inline">
                    <li><a href="#"><i class="icon ion-pie-graph"></i> <span>Statistics</span></a></li>
                    <li><a href="#"><i class="icon ion-email"></i> <span>Inbox</span></a></li>
                    <li><a href="#"><i class="icon ion-chatboxes"></i> <span>Chat</span></a></li>
                    <li><a href="#"><i class="icon ion-help-circled"></i> <span>Help</span></a></li>
                    <li><a href="#"><i class="icon ion-gear-a"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="icon ion-help-buoy"></i> <span>Support</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PRIMARY CONTENT HEADING -->
    <div class="widget widget-no-header widget-transparent bottom-30px">
        <!-- QUICK SUMMARY INFO -->
        <div class="widget-content">
            <h3 class="sr-only">QUICK SUMMARY INFO</h3>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <div class="quick-info horizontal">
                        <i class="icon ion-thumbsup pull-left bg-seagreen"></i>
                        <p>3700 <span>LIKES</span></p>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="quick-info horizontal">
                        <i class="icon ion-arrow-graph-up-right pull-left bg-orange"></i>
                        <p>27% <span>GROWTH</span></p>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="quick-info horizontal">
                        <i class="icon ion-cash pull-left bg-green"></i>
                        <p>$5,400 <span>PROFIT</span></p>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="quick-info horizontal">
                        <i class="icon ion-person-stalker pull-left bg-blue"></i>
                        <p>7285 <span>USERS</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END QUICK SUMMARY INFO -->
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- CHART WITH JUSTIFIED TAB -->
            <div class="widget">
                <div class="widget-header clearfix no-padding">
                    <h3 class="sr-only"><span>SALES AND VISITS STAT</span></h3>
                    <ul id="dashboard-stat-tab" class="nav nav-pills nav-justified">
                        <li class="active"><a href="#tab-sales" data-cid="#dashboard-sales-chart">Vendas</a></li>
                        <li class=""><a href="#tab-visits" data-cid="#dashboard-visits-chart">Fluxo de Caixa</a></li>
                    </ul>
                </div>
                <div id="dashboard-stat-tab-content" class="widget-content tab-content">
                    <div class="tab-pane fade in active" id="tab-sales">
                        <div class="flot-chart" id="dashboard-sales-chart"></div>
                    </div>
                    <div class="tab-pane fade" id="tab-visits">
                        <div class="flot-chart" id="dashboard-visits-chart"></div>
                    </div>
                </div>
            </div>
            <!-- END CHART WITH JUSTIFIED TAB -->
        </div>
        <div class="col-md-4">
            <!-- ORDER STATUS -->
            <div class="widget">
                <div class="widget-header clearfix">
                    <h3><i class="icon ion-bag"></i> <span>Ultimas Vendas</span></h3>
                    <div class="btn-group widget-header-toolbar">
                        <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                        <a href="#" title="Remove" class="btn btn-link btn-remove"><i class="icon ion-ios-close-empty"></i></a>
                    </div>
                </div>
                <div class="widget-content">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>N. Order</th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Payment.StatusPayment == Ragnarok.Models.Enums.StatusPayment.Pending)
                                    {


                                        <td><span class="label label-danger">Pendente</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-success">Pago</span></td>
                                    }

                                    <td><a href="#">@item.Id</a></td>
                                    <td>@item.TotalSales()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END ORDER STATUS -->
        </div>
    </div>

</div>


