@model PurchaseOrder
@{
    ViewData["Title"] = "Insert";
}

<div class="container-fluid primary-content">
    <!-- PRIMARY CONTENT HEADING -->
    <div class="primary-content-heading clearfix">
        <h2>NOVA ORDEM DE COMPRA</h2>
        <ul class="breadcrumb pull-left">
            <li><i class="icon ion-home"></i><a asp-action="Index" asp-controller="Home" asp-area="Employee">Home</a></li>
            <li><a asp-action="Index" asp-controller="Purchase" asp-area="Employee">Ordens de Compra</a></li>
            <li><a asp-action="Insert" asp-controller="Purchase" asp-area="Employee">Nova Ordem de Compra</a></li>
        </ul>
        <div class="sticky-content pull-right">
            <a asp-action="Insert" asp-controller="Purchase" asp-area="Employee" type="button" class="btn btn-default btn-sm btn-quick-task"><i class="icon ion-person-add"></i> Nova Ordem</a>
            <div class="btn-group btn-dropdown">
                <button type="button" class="btn btn-default btn-sm btn-favorites" data-toggle="dropdown"><i class="icon ion-android-star"></i> Favorites</button>
                <ul class="dropdown-menu dropdown-menu-right list-inline">
                    <li><a href="#"><i class="icon ion-pie-graph"></i> <span>Statistics</span></a></li>
                    <li><a href="#"><i class="icon ion-email"></i> <span>Inbox</span></a></li>
                    <li><a href="#"><i class="icon ion-chatboxes"></i> <span>Chat</span></a></li>
                    <li><a href="#"><i class="icon ion-help-circled"></i> <span>Help</span></a></li>
                    <li><a href="#"><i class="icon ion-gear-a"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="icon ion-help-buoy"></i> <span>Support</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    @if (TempData["MSG_S"] != null)
    {
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="icon ion-checkmark-circled"></i>
            <strong>Feito!</strong> @TempData["MSG_S"]
        </div>
    }
    @if (TempData["MSG_E"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="icon ion-checkmark-circled"></i>
            <strong>Erro!</strong> @TempData["MSG_E"]
        </div>
    }
    <div class="invoice">
        <!-- invoice header -->
        <div class="invoice-header">
            <div class="row">
                <div class="col-md-3 col-print-3">
                    <img src="~/assets/img/queenadmin-logo.png" class="logo" alt="QueenAdmin Logo" />
                </div>
                <div class="col-md-9 col-print-9">
                    <ul class="list-inline">
                        <li><a onclick="novaJanela()" class="btn btn-default btn-sm btn-quick-task"><i class="icon ion-plus-round"></i> Pesquisar Produto</a></li>
                        <li>Número da Ordem #: <strong></strong></li>
                        <li>Data: <strong>@DateTime.Now.Date.ToString("dd/MM/yyyy")</strong></li>
                        <li>Valor Total: <strong id="totalTop">R$ 0.00</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end invoice header -->
        <!-- invoice address -->
        <div class="invoice-from-to">
            <div class="row">
                <div class="col-sm-5 col-print-6">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Selecione o fornecedor</label>
                            <select name="select2" id="supplier" class="select2" asp-items="@ViewBag.Purchase">
                                <option value="Selecione">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <p class="name" id="companyNamePurchase"></p>
                    <input id="selectProvider" type="hidden" />
                    <address id="companyDescriptionPurchase">

                    </address>
                </div>
                <div class=" col-sm-6 col-print-6">
                    <form action="javascript:addProductList()" method="post">
                        <div class="row">                            
                            <div class="col-md-9">
                                <input id="selectedProductId" type="hidden" required />
                                <label>Produto Selecionado</label>
                                <input id="selectedProduct" class="form-control" required disabled style="background-color:white" />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <label>Preço Compra</label>
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="purchasePrice" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Preço Venda</label>
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="salesPrice" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Quantidade</label>
                                <input id="quantity" type="text" value="1" class="form-control" required />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <label>Desconto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input id="discont" type="text" value="0" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Validade</label>
                                <input id="validition" type="date" value="1" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-success btn-sm btn-quick-task" style="margin-top: 25px;">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end invoice address -->
            <!-- invoice item table -->
            <div class="table-responsive">
                <table class="table invoice-table" id="invoicePurchase">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço Compra</th>
                            <th>Preço Venda</th>
                            <th>Desconto</th>
                            <th>Total</th>
                            <th>Validade</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- end invoice item table -->
            <!-- invoice footer -->
            <div class="invoice-footer">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 col-print-4 col-print-offset-2 right-col">
                        <div class="invoice-total">
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4 col-print-6 col-print-offset-2">
                                    <p>Subtotal</p>
                                    <p>Total Desconto</p>
                                    <p>Total à pagar</p>
                                </div>
                                <div class="col-xs-4 text-right col-print-4">
                                    <p id="resultSubTotal">R$ 0.00</p>
                                    <p id="resultDiscont">R$ 0.00</p>
                                    <p id="resultTotalPayment">R$ 0.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-print-6 left-col">
                        <blockquote class="invoice-notes">
                            <strong>Notes:</strong>
                            <textarea id="notes" class="form-control"></textarea>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- end invoice footer -->
            <!-- invoice action buttons -->
            <div class="invoice-buttons">
                <button class="btn btn-default print-btn"><i class="icon ion-printer"></i> Print</button>
                <a id="finishPurchase" class="btn btn-success"><i class="icon ion-ios-arrow-forward"></i> Proceed to Payment</a>
            </div>
            <!-- end invoice action buttons -->
        </div>
    </div>
</div>

