@inject Ragnarok.Services.Login.EmployeeLogin _employeeLogin

@{
    var pahtImage = string.IsNullOrEmpty(_employeeLogin.GetEmployee().PathImage) ? "/assets/img/user-loggedin.png" : _employeeLogin.GetEmployee().PathImage;    
}
<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Leandro Klinger">
    <!-- CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/main.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700' rel='stylesheet' type='text/css'>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="~/assets/ico/queenadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="~/assets/ico/queenadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="~/assets/ico/queenadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="~/assets/ico/queenadmin-favicon57x57.png">
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">
</head>

<body class="fixed-top-active dashboard">
    <div class="wrapper">
        <nav class="top-bar navbar-fixed-top" role="navigation">
            <div class="logo-area">
                <a href="#" id="btn-nav-sidebar-minified" class="btn btn-link btn-nav-sidebar-minified pull-left"><i class="icon ion-arrow-swap"></i></a>
                <a class="btn btn-link btn-off-canvas pull-left"><i class="icon ion-navicon"></i></a>
                <div class="logo pull-left">
                    <a asp-action="Index" asp-controller="Home" asp-area="Employee">
                        <img src="~/assets/img/queenadmin-logo.png" alt="QueenAdmin Logo" />
                    </a>
                </div>
            </div>
            <form class="form-inline searchbox hidden-xs" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon ion-ios-search"></i></span>
                        <input type="search" class="form-control" placeholder="search the site ...">
                    </div>
                </div>
            </form>
            <div class="top-bar-right pull-right">
                <div class="action-group hidden-xs hidden-sm">
                    <ul>

                        <li class="action-item skins">
                            <form id="style-switcher">
                                <div class="btn-group">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="icon ion-ios-gear-outline"></i>
                                    </a>
                                    <div class="arrow"></div>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <p><strong>Dark Side Nav</strong></p>
                                            <button type="button" class="btn-skin nav-dark full-dark" data-skin="assets/css/skins/full-dark.css"></button>
                                            <button type="button" class="btn-skin nav-dark green" data-skin="assets/css/skins/green.css"></button>
                                            <button type="button" class="btn-skin nav-dark blue" data-skin="assets/css/skins/blue.css"></button>
                                            <button type="button" class="btn-skin nav-dark darkorange" data-skin="assets/css/skins/darkorange.css"></button>
                                            <button type="button" class="btn-skin nav-dark seagreen" data-skin="assets/css/skins/seagreen.css"></button>
                                        </li>
                                        <li>
                                            <p><strong>Light Side Nav</strong></p>
                                            <button type="button" class="btn-skin nav-light full-white" data-skin="assets/css/skins/full-white.css"></button>
                                            <button type="button" class="btn-skin nav-light green green-light-nav" data-skin="assets/css/skins/green-light-nav.css"></button>
                                            <button type="button" class="btn-skin nav-light blue blue-light-nav" data-skin="assets/css/skins/blue-light-nav.css"></button>
                                            <button type="button" class="btn-skin nav-light darkorange darkorange-light-nav" data-skin="assets/css/skins/darkorange-light-nav.css"></button>
                                            <button type="button" class="btn-skin nav-light seagreen seagreen-light-nav" data-skin="assets/css/skins/seagreen-light-nav.css"></button>
                                        </li>
                                        <li>
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" id="fixed-top-nav" checked="checked"><span>Fixed Top Navigation</span>
                                            </label>
                                        </li>
                                        <li data-toggle="popover" data-placement="top" data-container="body" data-content="If checked, try expanding <strong>Pages</strong> menu item on left sidebar. Disabled on minified sidebar." data-trigger="hover">
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" id="fixed-left-nav"><span>Fixed Left Navigation</span>
                                            </label>
                                        </li>
                                        <li class="menu-item-footer"><a href="#" title="Reset Style" class="reset-style">Reset Style</a></li>
                                    </ul>
                                </div>
                            </form>
                        </li>
                        <li class="action-item general">
                            <div class="btn-group">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon ion-ios-bell-outline"></i><span class="count">8</span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="menu-item-header">You have 8 notifications</li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">1 minute ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-person-add text-success"></i>
                                            <span class="text">New registered user</span>
                                            <span class="timestamp text-muted">12 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">18 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-ios-cart text-danger"></i>
                                            <span class="text">4 new sales order</span>
                                            <span class="timestamp text-muted">4 hours ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-edit yellow-font"></i>
                                            <span class="text">3 product reviews awaiting moderation</span>
                                            <span class="timestamp text-muted">1 day ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">3 days ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-chatbubble text-success"></i>
                                            <span class="text">New comment on the blog post</span>
                                            <span class="timestamp text-muted">Oct 15</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon ion-alert-circled text-danger"></i>
                                            <span class="text text-danger">Low disk space!</span>
                                            <span class="timestamp text-muted">Oct 11</span>
                                        </a>
                                    </li>
                                    <li class="menu-item-footer">
                                        <a href="#">View All Notifications</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="logged-user">
                    <div class="btn-group">
                        <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <img src="@pahtImage" class="avatarHome" style="width:25px" /><span class="name">@_employeeLogin.GetEmployee().Name <i class="icon ion-ios-arrow-down"></i></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a asp-action="Profile" asp-controller="Employee">
                                    <i class="icon ion-ios-person"></i>
                                    <span class="text">Perfil</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="GetOut" asp-controller="Home" asp-area="Employee">
                                    <i class="icon ion-power"></i>
                                    <span class="text">Sair</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="action-group visible-lg-inline-block">
                    <ul>
                        <li class="action-item chat">
                            <a href="#" id="toggle-right-sidebar" class="toggle-right-sidebar"><i class="icon ion-ios-chatboxes-outline"></i><span class="count">5</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="col-left" class="col-left">
            <div class="main-nav-wrapper">
                <nav id="main-nav" class="main-nav">
                    <h3>MAIN</h3>
                    <ul class="main-menu">
                        <li class="has-submenu">
                            <a href="#" class="submenu-toggle"><i class="icon ion-ios-speedometer-outline"></i><span class="text">Dashboards</span></a>
                            <ul class="list-unstyled sub-menu collapse">
                                <li><a asp-action="Index" asp-controller="Home" asp-area="Employee"><span class="text">Dashboard v1</span></a></li>
                                <li><a href="index2.html"><span class="text">Dashboard v2</span></a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#" class="submenu-toggle"><i class="icon ion-bag"></i><span class="text">Vendas</span></a>
                            <ul class="list-unstyled sub-menu collapse">
                                <li><a asp-action="Index" asp-controller="Sales" asp-area="Employee"><span class="text">Todas as Vendas</span></a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#" class="submenu-toggle"><i class="icon ion-bag"></i><span class="text">Ordens de Compras</span></a>
                            <ul class="list-unstyled sub-menu collapse">
                                <li><a asp-action="Index" asp-controller="Purchase" asp-area="Employee"><span class="text">Todas as Ordens</span></a></li>
                                <li><a asp-action="Box" asp-controller="Purchase" asp-area="Employee"><span class="text">Caixa</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <h3>ESSENTIALS</h3>
                    <ul class="main-menu">
                        <li><a asp-action="Index" asp-controller="Stock" asp-area="Employee"><i class="icon ion-social-buffer-outline"></i><span class="text">Estoque</span></a></li>
                        <li class="has-submenu">
                            <a href="#" class="submenu-toggle"><i class="icon ion-person"></i><span class="text">Cadastros</span></a>
                            <ul class="list-unstyled sub-menu collapse">
                                <li><a asp-action="Index" asp-controller="Client" asp-area="Employee"><span class="text">Cliente</span></a></li>
                                <li><a asp-action="Index" asp-controller="Supplier" asp-area="Employee"><span class="text">Fornecedor</span></a></li>
                                <li><a asp-action="Index" asp-controller="Category" asp-area="Employee"><span class="text">Categoria</span></a></li>                                
                                <li class="has-submenu">
                                    <a href="#" class="submenu-toggle"><span class="text">Produtos</span></a>
                                    <ul class="list-unstyled sub-menu collapse">                                        
                                        <li><a asp-action="Index" asp-controller="Product" asp-area="Employee"><span class="text">Produto</span></a></li>
                                        <li><a asp-action="Index" asp-controller="Discount" asp-area="Employee"><span class="text">Descontos</span></a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="Index" asp-controller="Employee" asp-area="Employee"><span class="text">Funcionário</span></a></li>
                                <li><a asp-action="Index" asp-controller="PositionName" asp-area="Employee"><span class="text">Departamentos</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="col-right" class="col-right ">
            @RenderBody()
        </div>

    </div>

    <script src="~/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/queen-common.js"></script>
    <script src="~/assets/js/plugins/stat/flot/jquery.flot.min.js"></script>
    <script src="~/assets/js/plugins/stat/flot/jquery.flot.resize.min.js"></script>
    <script src="~/assets/js/plugins/stat/flot/jquery.flot.time.min.js"></script>
    <script src="~/assets/js/plugins/stat/flot/jquery.flot.orderBars.js"></script>
    <script src="~/assets/js/plugins/stat/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/assets/js/plugins/mapael/raphael/raphael-min.js"></script>
    <script src="~/assets/js/plugins/mapael/jquery.mapael.js"></script>
    <script src="~/assets/js/plugins/mapael/maps/world_countries.js"></script>
    <script src="~/assets/js/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/assets/js/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap-editable/bootstrap-editable.min.js"></script>
    <script src="~/assets/js/plugins/jquery-maskedinput/jquery.masked-input.min.js"></script>
    <script src="~/assets/js/queen-charts.js"></script>
    <script src="~/assets/js/queen-maps.js"></script>
    <script src="~/assets/js/queen-elements.js"></script>

    <script src="~/Js/Utils/actionsUtils.js"></script>
    <script src="~/Js/Employee/actionsEmployee.js"></script>
    <script src="~/Js/Client/actionClient.js"></script>
    <script src="~/Js/Supplier/actionSupplier.js"></script>
    <script src="~/Js/PositionName/actionsPositionName.js"></script>
    <script src="~/Js/PurchaseOrder/actionPurchase.js"></script>


    <script src="~/Js/Utils/jQuery-Mask-Plugin-master/jquery.mask.min.js"></script>
    <script src="~/Js/Utils/mask.js"></script>

    <script src="~/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/datatable/exts/dataTables.colVis.bootstrap.js"></script>
    <script src="~/assets/js/plugins/datatable/exts/dataTables.colReorder.min.js"></script>
    <script src="~/assets/js/plugins/datatable/exts/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/plugins/datatable/dataTables.bootstrap.js"></script>
    <script src="~/assets/js/queen-table.js"></script>
    <script src="~/assets/js/plugins/parsley-validation/parsley.min.js"></script>

    <script src="~/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/plugins/wizard/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>


    <script src="~/assets/js/plugins/select2/select2.min.js"></script>





    <script src="~/assets/js/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/assets/js/plugins/jqallrangesliders/jQAllRangeSliders-min.js"></script>


    <script src="~/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/assets/js/plugins/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/assets/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap-touchspin/bootstrap.touchspin.js"></script>

    <script src="~/assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

</body>

</html>
